body{
    background: #FFFFFF;
    line-height: 1.5;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#main{
    min-width: 360px;
    margin: 20px 10px;
    background: #E8E8E8;
    padding: 16px;
    border-radius: 5px;
}

#title{
    width: 90%;
    margin: 0 auto;
    padding: 50px 0 20px 0;
}

#img-div{
    background: #FFFFFF;
    padding: 16px;
}

#image{
    max-width: 100%;
    margin: 0 auto;
}

#img-caption{
    width: 80%;
    max-width: 600px;
    margin: 16px auto;
}

#tribute-info{
    width: 90%;
    margin: 2em auto;
}

#tribute-info blockquote{
    max-width: 545px;
    margin: 0 auto;
    text-align: left;
    font-style: italic;
}

ul{
    text-align: left;
    max-width: 550px;
    margin: 20px auto;
}

h3{
    margin: 0 auto;
}

#tribute-link{
    font-weight: bold;
}

@media (max-width: 600px){
    #main{
        margin: 0;
    }
    body{
        margin: 0;
    }
}