body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    background: black;
    color: white;
    min-width: 260px;
}

h1, p{
    width: 100%;
    text-align: center;
}

h1{
    font-size: 3em;
    margin: 80px auto 10px auto;
}

p{
    font-size: 1.2em;
    margin: 20px auto 10px auto;
}

#survey-form{
    background: grey;
    width: 60%;
    margin: 30px auto;
    padding: 30px 50px;
    font-size: 1.2em;
}

#name-label, #email-label, #number-label, #dropdown-label, #radio-label, #cb-label, #comment-label, #dropdown-label-2, #submit
{
    display: block;
    width: 95%;
    margin: 0 auto;
    font-weight: bold;
}

#name, #email, #number, #dropdown, #comment, #dropdown-2{
    display: block;
    border-radius: 3px;
    width: 95%;
    margin: 0 auto;
    height: 30px;
}

#A, #B, #C, #cb1, #cb2, #cb3{
    
}

#comment{
    height: 100px;
}

#submit{
    border-radius: 3px;
    background: greenyellow;
    height: 40px;
}

#submit:hover{
    background: rgba(173,255,47,0.7);
    cursor: pointer;
}

@media(max-width:800px){
    #survey-form{
        width: 100%;
        margin: 20px 0;
        padding: 10px 0;
    }
}