body{
    font-family: sans-serif;
    font-size: 14px;
    background-color: #fff;
    color: #000;
    margin: 0;
}

/*header*/
#header-img{
    margin: 0px 50px;
}

/*navigation-bar*/
#nav-bar{
    float: right;
}

ul{
    list-style-type: none;
    margin: 0px 50px;
    padding: 10px;
}

li{
    float: left;
    
}

li a {
    display: block;
    background: #333;
    padding: 10px 30px 10px 30px;
}

li a:hover{
    color: #fff;
    background: #000;
}

.nav-link{
    text-decoration: none;
    color: #ffffff;
}

/*content*/
#features{
    width: 90%;
    margin: 50px auto;
}

h2{
    text-align: center;
}

/*video*/
#howitworks{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#howitworks > iframe {
    max-width: 560px;
    width: 100%;

iframe{
    text-align: center;
}
