body{
    font-family: sans-serif;
    font-size: 14px;
    background-color: #fff;
    color: #000;
    margin: 0;
    min-width: 280px;
}

/*header*/
#header-img{
    margin: 0px 50px;
}

#header{
    width: 100%;
    background: #333;
    /* float: right; */
    position: fixed;
    /* top: 0; */
}

/*navigation-bar*/
#nav-bar{
    float: right;
    /* position: fixed; */
    /* top: 0; */
    /* right: 0; */
}

ul{
    list-style-type: none;
    margin:0 40px;
    padding: 10px;
}

li{
    float: left;
}

li a {
    display: block;
    /* background: #333; */
    padding: 10px 30px 10px 30px;
}

li a:hover{
    color: #000;
    background: #fff;
}

.nav-link{
    text-decoration: none;
    color: #ffffff;
}

/*content*/
#features{
    width: 90%;
    margin: 0 auto;
    padding: 50px 0;
    text-align: justify;
}

h2{
    text-align: center;
    text-transform: uppercase;
}

/*video*/
#howitworks{
    background: #333;
    color: #fff;
    margin: 0 auto;
    padding: 20px 0 50px 0;
}

#video{
    display: block;
    margin: 0 auto;
}

/*Pricing*/
#price{
    /* width: 70%;
    margin: 1.2em auto;
    padding: 20px 0 50px 0; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.item{
    /*use flex too*/
    border: 1px solid black;  
    width: 300px;
    height: 300px; 

}

#item1{
    background: cornflowerblue;

}

#item2{
    background: crimson;

}

#item3{
    background: darkgreen;

}

/*media queries*/
@media(max-width:650px){
    #header-img{
        display: none;
    }
}

@media(max-width:480px){
    #header{

    }
}